
body .htmx-request
{
  transition: opacity 500ms ease-in;
  opacity: 0.7 !important;
  pointer-events: none !important;
}

#sidebar-menu > ul > li ul {
  padding-left: 14px;
}

.select2-container--default .select2-selection--single {
  border-color: var(--bs-border-color);
}
.select2-container--default .select2-selection--single .select2-selection__rendered
{
  color: var(--bs-body-color);
}

.card.page-actions .btn {
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.card-header > .info-dropdown {
  float: right;
}
.info-dropdown .dropdown-item {
  margin: 0;
}
.info-dropdown .dropdown-item .d-inline-block {
  width: 4.5em;
}

table.tk-table-sm tr.inactive {
  opacity: 0.5 !important;
}

.page-title-box .breadcrumb {
  padding: 0;
  margin: 0;
}

.page-title-box .page-title {
  color: var(--bs-gray-700);
}
.page-title-box .page-title i {
  display: inline-block;
  padding-right: 0.2em;
}

/*********** B O O T S T R A P *************/
.modal-header-success .modal-title,
.modal-header-warning .modal-title,
.modal-header-danger .modal-title,
.modal-header-info .modal-title,
.modal-header-primary .modal-title
{
  color: #fff;
  font-size: 1.125rem;
}

.modal-header-success {
  color:#fff;
  border-bottom:1px solid #eee;
  background-color: #5cb85c;
}
.modal-header-warning {
  color:#fff;
  border-bottom:1px solid #eee;
  background-color: #f0ad4e;
}
.modal-header-danger {
  color:#fff;
  border-bottom:1px solid #eee;
  background-color: #d9534f;
}
.modal-header-info {
  color:#fff;
  border-bottom:1px solid #eee;
  background-color: #5bc0de;
}
.modal-header-primary {
  color:#fff;
  border-bottom:1px solid #eee;
  background-color: #428bca;
}

/*********** T I N Y M C E *************/
/* Remove promotion button */
.tox .tox-promotion {
  display: none;
}
/* Add disabled state */
.mce .disabled,
.mce-min .disabled {
  background-color: #E9ECEF;
}


/***************** F O R M ******************/
form textarea {
  height: 150px;
}
.tk-form .fld-checkbox .form-check:first-of-type {
  margin-top: .5rem !important;
}
.tk-form .fld .invalid-feedback {
  color: var(--bs-danger);
}
.form-control:read-only:not([type=file]),
.form-control:disabled,
.form-control.disabled {
  pointer-events: none;
  background-color: #EEE;
}
.tk-form input:invalid,
.tk-form textarea:invalid,
.tk-form select:invalid {
  background: #FDFDDA !important;
}
.form-select:disabled,
.form-control:disabled,
.form-control[readonly] {
  pointer-events: none;
  background-color: #EEE !important;
}
.btn-outline-field {
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-border-color: var(--bs-border-color);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #6c757d;
	--bs-btn-hover-border-color: #6c757d;
	--bs-btn-focus-shadow-rgb: 108,117,125;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #6c757d;
	--bs-btn-active-border-color: #6c757d;
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #6c757d;
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: #6c757d;
	--bs-gradient: none;
}

/***************** T A B L E ******************/
.tk-form-inline {
  margin-bottom: .5rem;
}
/* position submit buttons for filter form */
.tk-form-inline .tk-inline-btn {
  padding-bottom: 0.3rem;
}
.tk-table .tk-actions .btn,
.tk-form-inline .tk-inline-btn .btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}
.tk-table-sm {
  font-size: 0.75rem;
}
.table > :not(caption) > * > * {
  padding: .55rem;
}
.tk-table-sm.table > :not(caption) > * > * {
  padding: 0.5rem;
}
.tk-table .tk-actions {
  padding-bottom: 0.75rem;
}
.tk-table .tk-actions .btn {
  margin-right: 0.5rem;
}
.tk-table table td .btn {
  display: inline;
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}
.tk-table .max-width {
  width: 100%;
}
.tk-sortable .drag {
  cursor: ns-resize;
}
.tk-table tr.task-closed {
  opacity: 0.8;
}


/* Header OrderBy Arrows */
th
{
  text-align: center;
  white-space: nowrap;
}
th a,
td a {
  position: relative;
  display: block;
  width: 100%;
}
th a {
  padding-right: 1.5rem;
  /*position: relative;*/
}
th a:before,
th a:after {
  border: 0.3rem solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 0.3rem;
  top: 50%;
  position: absolute;
  width: 0;
}
th a.desc:before {
  border-bottom-color: #666;
  margin-top: -0.5rem;
}
th a.asc:after {
  border-top-color: #666;
  margin-top: 0.0rem;
}




