

/* TINY-MCE */
/* Remove promotion button */
.tox .tox-promotion {
  display: none;
}
/* Add disabled state */
.mce .disabled,
.mce-min .disabled {
  background-color: #E9ECEF;
}



/***************** F O R M ******************/

form textarea {
  height: 150px;
}
form label {
  font-weight: 500;
}
form .tk-form-group .form-check-label:first-child {
  margin-bottom: .5rem;
}
form .form-check .form-check-label {
  font-weight: normal;
}
form .tk-form-fields.tab-content {
  padding: 0px;
}
.tk-form .fld .invalid-feedback {
  color: var(--bs-danger);
}

.form-control:disabled,
.form-control:read-only:not([type=file]) {
  pointer-events: none;
  background-color: #EEE;
}

.tk-form input:invalid,
.tk-form textarea:invalid,
.tk-form select:invalid {
  background: #FDFDDA !important;
}

/***************** T A B L E ******************/


.tk-form-inline {
  margin-bottom: .5rem;
}
/* position submit buttons for filter form */
.tk-form-inline .tk-inline-btn {
  padding-bottom: 0.3rem;
}
.tk-form-inline .tk-inline-btn .btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}
.tk-table .tk-actions {
  padding-bottom: 0.75rem;
}
.tk-table .tk-actions .btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .7rem;
  margin-right: 1em;
}
.tk-table td a.btn {
  display: inline;
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}
.tk-table .max-width {
  width: 100%;
}

.tk-table th {
  white-space: nowrap;
}
.tk-table th .fa {
  color: #999999;
  margin-left: 5px;
}

/* Header OrderBy Arrows */
th
{
  text-align: center;
  white-space: nowrap;
}
th a,
td a {
  position: relative;
  display: block;
  width: 100%;
}
th a.desc,
th a.asc {
  padding-right: 10px;
}
th a:before,
th a:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 0;
  top: 50%;
  position: absolute;
  width: 0;
}
th a.desc:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
th a.asc:after {
  border-top-color: #666;
  margin-top: 1px;
}
